body {
  max-width: 100%;
  background-image: url("Achtergrond.png");
  background-size: cover;
  back
}

.col {
  -webkit-clip-path: polygon(0% 0%, 0% 60%, 50% 100%, 100% 60%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 60%, 50% 100%, 100% 60%, 100% 0%);
  background-color: white;
  height: 150pt;
  opacity: 0.9;
}

.tweedecol {
  -webkit-clip-path: polygon(0% 0%, 0% 60%, 50% 100%, 100% 60%, 100% 0%, 50% 25%);
  clip-path: polygon(0% 0%, 0% 60%, 50% 100%, 100% 60%, 100% 0%, 50% 25%);
  background-color: #3d3d29;
  height: 260pt;
  margin-top: -0pt;
  opacity: 0.9;
}

.row {
  text-align: center;
}

.derdecol {
  -webkit-clip-path: polygon(0% 0%, 0% 60%, 50% 100%, 100% 60%, 100% 0%, 50% 20%);
  clip-path: polygon(0% 0%, 0% 60%, 50% 100%, 100% 60%, 100% 0%, 50% 20%);
  background-color: #b8b894;
  height: 500pt;
  margin-top: -40pt;
  opacity: 0.9;
}

.zesdecol {
  background-color: #3d3d29;
  height: 380pt;
  margin-top: -105pt;
  opacity: 0.9;
  -webkit-clip-path: polygon(0% 0%, 0% 1000%, 100% 100%, 100% 0%, 50% 55%);
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 55%);
  max-width: 100%;
}
